
@import "colors";

ul {
  list-style-type: none;
}

li:before {
  content: "- ";
}
#espace_map {
  height: 500px;
  width: 500px;
}
img {
  max-width: 100%;
  height: auto;
  text-align: center;
  display: block;
  padding: 10px;
  border-radius: 8px;
}
.title-image {
  text-align: center;
}
.translate {
  transition: all 0.5s ease-in-out;

}

.chart_experience{
  padding: 20px 0 20px;

}
ul{
  margin:0;
  padding: 0;
}
.list_summary{
  padding-top:0;
}
