<div>

  <ul>
    <li>7 years of experience working as Front End developer.</li>
    <li>6 years experience working with Angular Js and Angular 2/4/5/6/7.</li>
    <li>Familiar with the following languages: Angular JS, Angular 2/4, Node.JS, JQuery, JavaScript, HTML/HTML5,
      CSS/CSS3, SQL, Python, C, C++, C#, Java, …</li>
    <li>Use of Git as code versioning toll.</li>
    <li>Master in Information Processing Science.</li>
    <li>Fluency in English and French</li>
  </ul>
  <div class=container>
    <div class='row'>
      <div class='col-md-6 col-lg-6 col-sm-6'><img [src]="imgExternalUrlService.appImg.scotiabank1_1"></div>
      <div class='col-md-6 col-lg-6 col-sm-6'><img [src]="imgExternalUrlService.appImg.scotiabank1_2"></div>

    </div>
    <div class='row '> 
      <div class='col-md-12 col-lg-12 col-sm-12 title-image'>Selected as one of Scotiabank's Top individual performance Award Winners (Best of the
      Best 2017)</div>
    </div>
  </div>



</div>