<div>
<app-banner></app-banner>
<div class="container">
  <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-12">
        <ul class='translate'>
          <li>{{ 'summary.1' | translate }}</li>
          <li>{{ 'summary.2' | translate }}</li>
          <li>{{ 'summary.3' | translate }}</li>
          <li>{{ 'summary.4' | translate }}</li>
          <li>{{ 'summary.5' | translate }}</li>
          <li>{{ 'summary.6' | translate }}</li>
        </ul>
      </div>
  

  

  <div class=" col-lg-6 col-sm-12 col-md-12 chart_experience" >
    <app-experience-chart></app-experience-chart>
  </div>

</div>