@import "colors";

.total {
  background-color: $background_title_details;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project_year {
  font-size: 15px;
  text-align: right;
}
.role {
  font-size: 17px;
  background-color: $background_title;
  padding-left: 15px;
  padding-right: 15px;
}
.company_name {
  font-style: italic;
  font-size: 12px;
}
.logo {
  height: 30px;
}

.line-height {
  line-height: 25px;
}


.project_title {
  font-size: 12px;
  padding-bottom: 5px;
  margin: 5px 25px 5px 25px;
}







