
%btn_standard{
    background-color:#b08ffd;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    padding:5px 20px 5px 20px; 
    border-radius: 20px;
    line-height: 15px;
    position: relative;
    margin-right:  16px;
}