<div><strong>Localisation of project area</strong>
</div>

<div class='center_image'>
  <img class='img_small' src='{{pathimage}}/1.png'>
</div>
<div>
  <strong>Tasks</strong>
</div>
<div>
  <ul>

    <li>Some data have analog formats (paper), they were scanned and geo-referenced in the projection system of Guinea
      (UTM zone 29 N)</li>

    <li>Digitalization of various themes contained in raster or paper format. (4 maps)</li>

    <li>Generation of Digital Models of the land and its associated blocks 3 D (5 maps)</li>

    <li>Draping the different layers on the DTM to facilitate analysis and interpretation (8 maps);</li>

    <li>Put the sample of water and soil on the map (2 maps)</li>

    <li>Hydrological Mapping: hydrographic network, lake ... (3 maps)</li>

    <li>Mapping of watershed (2 maps)</li>

    <li>Development plan for the mine (1 plan);</li>

    <li>Location of the mine (2 maps)</li>

    <li>Distribution of the Wildlife (2 maps)</li>

    <li>Calculation of various geometric parameters: area, volume, length</li>

    <li>Translate tables and alphanumeric data in diagrams and graphs (3 diagrams and 2 graphs).</li>

    <li>Mapping of the 3D mine exploitation from multiple views </li>

    <li>Generation of maps in different formats</li>
  </ul>
</div>
<div>
  <strong>Collect and analysis of geographic data  (pH)</strong>
</div>
<p>
    The analyse of pH data showed that the values of pH are different between surface water, groundwater and the waters of the project area. The first ones are slightly acidic, the seconds are close to neutral, the third is slightly alkaline due to the influence of plant discharges.
</p>
<div class='center_image'>
  <img class='img_small' src='{{pathimage}}/2.png'>
</div>
<div>
  <strong>Mapping of the hydrographic network</strong>
</div>
<div class='center_image'>
  <img class='img_small' src='{{pathimage}}/3.png'>
</div>
<div>
  <strong>Collect and analysis of geographic data ( Soil map)</strong>
</div>
<div class='center_image'>
  <img class='img_small' src='{{pathimage}}/4.png'>
</div>
<div class='center_image'>

  <img class='img_small' src='{{pathimage}}/5.png'>
</div>
<div><strong>Results:</strong></div>
<p>
    Convert data to graphic and maps

</p>
<div class='center_image'>
  <img class='img_very_small' src='{{pathimage}}/6.png'>

</div>
<div>
    <p>
        The analysis of maps and graphic allow:</p>
        <ul>
            <li>Localization of the contaminated area.</li>
            <li>Identification of the type of contamination.</li>
          </ul>

</div>


