img {
    max-width: 80%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px;
  }
  .title2{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .img_small {
    width: 70%;
    padding-bottom: 40px;
  }

  .center_image {
    margin: auto;
    text-align: center;
  }
  p{
    margin: 0px;
  }