<ol>


  <li> <strong>Ben Hassen M.</strong>, ARASTOUNIA M. and LICHTI D. (2014): Automatic Extraction of Insulators from laser scanner data.
    Submitted to ISPRS congress "Close-range imaging, ranging and applications"23 - 25 June, 2014. Riva del Garda,
    Italy.</li>

  <li> <strong>Ben Hassen M.</strong>, Deffontaines B. and Turki M.M. (2014): Analysis of recent deformation in the southern Atlas of
    Tunisia using geomorphometry. II IAEG Congress – Torino (Italy).</li>

  <li> Deffontaines B., <strong>Ben Hassen M.</strong> and Ghedoui R. (2014): Tunisia: a mature case example of structural extrusion. XII
    IAEG Congress – Torino (Italy).</li>

  <li> <strong>Ben Hassen M.</strong>, Deffontaines B., Rebai N., Turki M.M. (2013): Implications morphostructurales de l'analyse
    morphométrique de l’Atlas méridional de la Tunisie. The 5th Tunisian Days of Applied Geology, JTGA 2013 & The
    International Conference on Natural Hazards and Geomatics, ICNHG 2013. Poster. Hammamet, Tunisia, 17-20 May 2013.
  </li>

  <li> <strong>Ben Hassen M.</strong>, Rebaï N., BEN ROMDHANE H. (2009) : Contribution of Geomatics urban development applications
    (Contribution de la Géomatique au développement des applications urbaines). Urbanisation and NTIC. Université de
    printemps de l'association tunisienne des urbanistes. Hammamet March 6, 2009.</li>

  <li> Deffontaines B., <strong>Ben Hassen M.</strong>, Slama T., Rebai N., Turki M.M. (2008): Tunisian structural extrusion revealed by
    numerical geomorphometry. In: Brady, S. R., Sinha, A. K., Gundersen, L. C. ( Eds. ), Geoinformatics 2008—Data to
    Knowledge, Proceedings, Geoinformatics 2008—Data to Knowledge, Reston, VA: USGS, 14-15.</li>

  <li> <strong>Ben Hassen M.</strong>, Rebaï N., DEFFONTAINES B. (2008): Contribution of GIS and radar imagery for the study of natural
    hazards: the case of landslides in urban areas (Application to the region Lagny- East of Paris) : (Apport du SIG et
    de l'imagerie radar pour l'étude des risques naturelles : cas des glissements de Terrain en Zone urbaine
    (Application à la région de Lagny -l'Est Parisien)). Tunisian Third Days of Applied Geology. March 22, 2008.</li>

  <li> BOUAZIZ S., <strong>Ben Hassen M.</strong> and SDIRI A. (2007): Atlas of the marble stones in Tataouine (Atlas des pierres
    marbrières de Tataouine), Poster, February2007.</li>

  <li> <strong>Ben Hassen M.</strong>, REBAI N., BOUAIN M., ELFEZAI K., KHELIL A. (Société Tunisienne de l’Air) (2007): Study of flight
    path of a public transport aircraft engine failure: application in the path TUNIS - Geneva (overview of obstacles).
    SIG 2007: Francophone Conference ESRI 10-11 October 2007.</li>
</ol>