<div class='title2'>
    <p> The goal of this project is to build the next generation of Clickatell products (website:
        <a href="https://www.app.clickatell.com" target="_blank">app.clickatell.com</a></p>
   
</div>
<div class='center_image'>

    <img src="{{pathimage}}/1.png" alt=""><br>
    <img src="{{pathimage}}/2.png" alt=""><br>
    <img src="{{pathimage}}/3.png" alt=""><br>
    <img src="{{pathimage}}/4.png" alt=""><br>
    <img src="{{pathimage}}/5.png" alt=""><br>
    <img src="{{pathimage}}/6.png" alt=""><br>
</div>