@import "colors";

// option menu en the top
.mat-form-field ::ng-deep {
  font-size: 10px;
    font-family: "Garamond Nova Soft", "Helvetica Neue", sans-serif;
    text-align: right;

}
.left {
  text-align: left;
  margin: 10px 20px 0 0;
  padding: 0;
  font-family: "Times New Roman", "Garamond Nova Soft", "Helvetica Neue", sans-serif;

}
.label_option{
  font-size: 12px;
  color: $base_blue;
  text-align: left;
  margin-right: 10px;

}
// boostrap table
.total {
  background-color: $background_title_details;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project_year {
  font-size: 15px;
  text-align: right;
}
.role {
  font-size: 17px;
  background-color: $background_title;
  padding-left: 15px;
  padding-right: 15px;
}
.company_name {
  font-style: italic;
  font-size: 12px;
}
.logo {
  width: 100px;
  height: auto;
  margin-left:20px;
  display: inline;
}
.logo_tree{
  width: 100px;
  height: auto;
  margin-left:20px;
  display: inline;
}

.line-height {
  line-height: 25px;
}

.project_title {
  font-size: 12px;
  padding-bottom: 5px;
  margin: 5px 25px 5px 25px;
}

// for grid material
.option_list{
  text-align: left;
}
.task_list {
  margin: 0;
  padding: 0;
  text-align: left !important;
  align-items: left !important;
  
}
.mat-figure::ng-deep {

  border-color: $background_title_details !important;

}
.video-title ::ng-deep figure {
  justify-content: flex-start !important;
  margin: 0;
  padding: 0;
  background-color: $background_title_details;
  border-color: $background_title_details !important;

}

.information {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: gray;
  &_icon {
    color: #912cee;
  }
}

.image_tile{
  width:100%;
  height: auto;
}
