// only for the menu code in the nav bar
.menu2 {
  position: fixed;
  top: 25%;
  left: -10px;
}

// vertical tools bar
.vertical-menu {
  line-height: 20px;
  border-radius: 50%;
}

.vertical-menu a {
  background-color: #8881ee;
  color: black;

  margin: 5px;
  height: 40px;
  border-radius: 50%;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: none;
  color: white;
}
.icons-param-white {
    padding: 0px;
}


