// in this page, we used two navigation bar: one horizontal and one vertical.
// the horizontal bar is displayed only when the user scroll down

// 1- horizontal navigation bar-------------------------------------------

.nav-bar-cust {
  background-color: #8881ee;
  padding: 0;
  & a {
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 20px;
    text-align: right;

  }
}

#navbarNavAltMarkup {
  .navbar-nav {
    border-bottom: none;
    &:hover {
      background-color: #3399ff;
      cursor: pointer;
    }
    &.active {
      background-color: #912cee;
    }
  }
}

.icons-param-white {
  color: white;
  padding-right: 10px;
  font-size: 10px;
}

.title_style {
  font-family: "Garamond Nova Soft", "Helvetica Neue", sans-serif;
  font-family: Garamond;
  font-size: 24px;
  line-height: 23px;
}
.under-title {
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}
.collapse:not(.show) {
  display: flex !important;
}
// only for the menu code in the nav bar
.right_in_nav {
  float: right;
}
// responsive : when the size is less then 900 (ipad), hide the title label in the nav bar

@media (max-width: 900px) {
  .label_navbar {
    position: absolute;
    overflow: hidden;
    top: -1000px;
  }
  .icons-param-white {
    display: flex;
    height: 100vh;
  }
}

// 2- vertical navigation bar-------------------------------------------

.vertical-menu {
  line-height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 25%;
  left: 0;

  &_displayed {
    opacity: 1;
  }
  &_hiddeed {
    opacity: 0;
  }

  & a {
    background-color: #8881ee;
    color: black;
    margin: 5px;
    height: 40px;
    border-radius: 50%;
    &:hover {
      background-color: #3399ff;
    }
    &.activeVertical {
      background-color: #912cee;
    }
  }
}


