<div class="container ">
  <div class='row head_page'>


    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
      <div class='title_style ali-left title_row'> Mehdi BEN HASSEN </div>
      <div class='ali-left under-title'>
        <mat-icon class='icons_param'>work</mat-icon>
        {{ 'head_page.title' | translate }}
      </div>
      <div class='ali-left under-title'>
        <mat-icon class='icons_param'> email</mat-icon> <a
          href="mailto:m.ben.hassen80@gmail.com">m.ben.hassen80&#64;gmail.com</a>
      </div>
      <div class='ali-left under-title'>
        <mat-icon class='icons_param'> phone</mat-icon> (587) 585 9321
      </div>
      <div class='ali-left under-title'>
        <mat-icon class='icons_param '>location_on</mat-icon> Toronto
      </div>
    </div>











<!-- #region add linkein.png and github links-->



      <div class="col-lg-4 col-sm-4 col-md-4 col-4 ali-center">


        <a href="https://www.linkedin.com/in/mehdi-ben-hassen-36745326/" target="_blank" ><img class="logo_photo"  src="../../../assets/linkedin.png" ></a> 
        <a href="https://github.com/mehdibenhassen2?tab=repositories" target="_blank" ><img class="logo_photo" src="../../../assets/github.png"></a>
        <a href="../../../assets/documentPDF/CV.pdf" target="_blank" ><img class="logo_photo" src="../../../assets/download.png"></a>


      </div>

<!--#endregion-->




    <div class="col-lg-4 col-sm-4 col-md-4 col-4 ali-right">


      <img class="profile_photo" src="../../../assets/photo mehdi.jpg">


    </div>
  </div>