<div class='title2'>
    <p> The goal of this project is to display, share, manage, save (in dataBase), protect, represente (by graphics)
        insurance data based on the level of user.</p>
    <p>The access to the data is limited based on the user level: for example the manager can have access to his
        advisor data. However, the advisor don't have access to his manager data.</p>
</div>
<div class='center_image'>

    <img src="{{pathimage}}/1.png" alt=""><br>
    <img src="{{pathimage}}/2.png" alt=""><br>
    <img src="{{pathimage}}/3.png" alt=""><br>
    <img src="{{pathimage}}/4.png" alt=""><br>
    <img src="{{pathimage}}/5.png" alt=""><br>
</div>