<p>
  This single web page was developed using angular8, html5, scss.
</p>
<p>This project is just a simple  including the architecture, the design, the content, the code writing and the app deployment.
</p>
<p>
I tried in this project to use the maximum tools offered by angular ( use of smart and dump component, service, module, interface, routing, data binding, httpClient get and post request, and more).
</p>
<p>
For deployement, I used firebase (also used for storage and database).
</p>
<p>
To dowloand the source code  of this app from Githb please click here. 
</p>
