.btn_download{
    background-color: #8881ee;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    display: block;
    max-width: 300px;
    margin: auto;

}
a{
    line-height: 10px;
    color:white;
}
.btn_download:hover{
    background-color: blue;
}
.icons-param-white{
    color:white;
    margin-right: 20px;
}