@import "colors";
.row {
  margin: 10px 0 10px 0;
}
.carousel-caption {
  color: blue;
  background-color: $background_title_details;
  opacity: 0.6;
  margin: 0;
  padding: 0px;
  font-size: 15px;
  line-height: 20px;
  bottom: 0;
}
.image_size {
  width: 100%;
  height: 250px;
}
.carousel {
  margin: 0;
}
.image_list{
    margin-top: 10px;
}
.image_discription_list {
  margin-left: 0px;
  padding: 5px;
  margin-top: 10px;
  height: 250px;
  overflow-y: auto;
  //background-color: $background_title_details;
  border: solid 1px $base_blue;
  background-color: white;
  box-shadow: 2px 2px 3px;
  line-height: 20px;
}

.title {
  &_active {
    font-size: 15px;
    color: $base_blue;
    opacity: 1;
    // font-weight: bold;
    padding: 10px 5px 0 5px;


  }
  &_not_active {
    font-size: 15px;
    color: $base_blue;
    font-weight: normal;
    padding: 10px 5px 0 5px;
    opacity: 0.4;
  }
}
.sub_title {
  &_active {
    font-size: 12px;
    color: $base_blue;
    margin: 0 5px 10px 5px;
    opacity: 1;
  }

  &_not_active {
    font-size: 12px;
    color: $base_blue;
    margin: 0 5px 10px 5px;
    opacity: 0.5;
  }
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background_title_details;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $base_blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
