<div class='content'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-8'>
<ngb-carousel *ngIf="images" (slide)="onSlide($event)">
  <div *ngFor='let slide of images; let i=index' ngbSlide [id]="'slideId_' + i">
    <ng-template ngbSlide>
      <img class='image_size' [src]='images[i].srcPath' >
      <div *ngIf= "images[i].title" class="carousel-caption">
        <span>{{images[i].title}}</span>
      </div>
    </ng-template>
  </div>
</ngb-carousel>
</div>
<div class='col-sm-12 col-md-4 col-lg-4 image_discription_list'>
   <!-- <div>{{currentImageId}}</div>-->
    
    <div *ngFor='let slide of images; let i=index' class="discription_bloc">
        
          <div *ngIf= "images[i].title" >
            <div [ngClass]=" ((currentImageId == i)? 'title_active': 'title_not_active')" >{{images[i].title}}</div>
            <div [ngClass]=" ((currentImageId == i)? 'sub_title_active': 'sub_title_not_active')">{{images[i].discription}}</div>
          </div>
        
        </div>
  
</div>

</div>
</div>