<div class='content'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-8 image_list'>
      <ngb-carousel *ngIf="images" (slide)="onSlide($event)">
        <ng-template *ngFor='let slide of images; let i=index' ngbSlide [id]="'slideId_' + i">
          <img class='image_size' [src]='slide.srcPath'>
          <div *ngIf="slide.title" class="carousel-caption">
            <span>{{slide.title}}</span>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class='col-sm-12 col-md-4 col-lg-4 image_discription_list'>
      <div *ngFor='let slide of images; let i=index' class="discription_bloc">
        <div *ngIf="slide.title">
          <div [ngClass]=" ((currentImageId == i)? 'title_active': 'title_not_active')">{{slide.title}}</div>
          <div [ngClass]=" ((currentImageId == i)? 'sub_title_active': 'sub_title_not_active')">{{slide.discription}}
          </div>
        </div>

      </div>

    </div>

  </div>
</div>