<div class='center_image'>
<img class= 'img_small' [src]='imgExternalUrlService.appImg.scotiabank_project1_10'>
<img class= 'img_small' [src]='imgExternalUrlService.appImg.scotiabank_project1_1'>
<img class= 'img_small' [src]='imgExternalUrlService.appImg.scotiabank_project1_2'>
<img class= 'img_small' [src]='imgExternalUrlService.appImg.scotiabank_project1_3'>
<img class= 'img_small' [src]='imgExternalUrlService.appImg.scotiabank_project1_4'>
<img class= 'img_small' [src]='imgExternalUrlService.appImg.scotiabank_project1_5'>

</div>

