img {
    max-width: 50%;
    margin-bottom: 10px;
  }
  .title2{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .img_small {
    width: 70%;
    padding-bottom: 40px;
  }
  .img_very_small {
    width: 40%;
    padding-bottom: 40px;
  }
  .center_image {
    margin: auto;
    text-align: center;
  }