@import "colors";

ul {
  list-style-type: none;
}

li:before {
  content: "- ";
}
#espace_map {
  height: 500px;
  width: 500px;
}
img {
  max-width: 100%;
  height: auto;
  text-align: center;
  display: block;
  padding: 10px;
  border-radius: 8px;
}
.title-image {
  text-align: center;
}
.translate {
  transition: all 0.5s ease-in-out;
}

.chart_experience {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.list_summary {
  padding-top: 0;
}

.box_size {
  height: 210px;
  overflow: auto;
}
li a {
  color: black;
}
li a:hover {
  color: blue;
}

li {
  background: white;
  color: black;
  counter-increment: myCounter;
  margin: 0 0 10px 0;
  padding: 5px;
  position: relative;
  top: 5px;
  border-radius: 0em 2px 1em 1em;
  line-height: 20px;
  padding-left: 2em;
  font-size: 12;
  font-family: Constantia;
}
li:before {
  content: counter(myCounter, decimal-leading-zero);
  display: inline-block;
  text-align: center;
  font-size: 9px;
  line-height: 1.3em;
  //background-color:  white;
  color: blue;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -20px;
  border-radius: 50%;
}

li:nth-child(even) {
  background-color: white;
}
.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.sub-title_summary {
  line-height: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
.three_dot {
  float:right;
  display: inline;
  right: 0;
  &_active {
    opacity: 1;
  }
  &_not_active {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.mat-list-item{
  &_active{
    
  }
  &_not_active{
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*.mat-menu-item {
  color: blue !important;
  padding: 0 5px 0 5px;
  line-height: 20px !important;
  height: auto;
}*/
.mat-menu-panel {
  min-height: 10px !important;
  height: 10px;
}
