<div class="full">
<div class="head_dialog" > Welcome </div>
<div mat-dialog-content>
  <p>    This single page application is <strong>still under construction</strong>. Thus, some features and components are not yet complete.
  </p>
  <p>     To develop this application, we used Angular 8, HTML5, CSS3
  </p>
  <p> To dowload the code,  <a href="https://github.com/mehdibenhassen2/angular_example_resume_mehdi"
    target="_blank"> click here</a> or you can navigate to tab 'Code'.</p>


</div>
<div>
  <!--<button class="button_modal" (click)="onNoClick()" >Close</button>-->
</div>
</div>