.sample-container{
    display:grid;
    grid-template-columns: 1fr;
  }
  .sample-text{
    color: black;
    font-size: 20px;
    text-align:center;
  }
  .sample-close{
    text-align:center;
  }
  .sample-close button{
    width: 200px;
    height: 200px;
    color: tomato;
  }

  .head_dialog{
background-color: #FFA500;
text-align: center;
width: 100%;
margin:0;
font-size: large;
padding: 0px;
  }

  .button_modal{
    background-color: gray;
    text-align: center;
    height: 35px;
    border-radius: 10px;
    display: block;
    width: 100%;
    margin: auto;
    padding-left:30px;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    margin-right: 20px;
    color: rgb(10, 1, 1);
    margin-top:10px;
    margin-bottom: 10px;
    color:white;


  }
