<div>
  <p><strong> {{ 'code.title1' | translate }} </strong></p>
  <p>{{ 'code.p1' | translate }}</p>
  <p>{{ 'code.p2' | translate }}</p>
  <p>{{ 'code.p3' | translate }}</p>
  <p>{{ 'code.p4' | translate }}</p>
</div>
<p class="small_line_height">{{ 'code.p5' | translate }} </p>
<p class="small_line_height">{{ 'code.p6' | translate }} </p>
<div class="image_center "><img class='large_size' src='../../../assets/responsive2.png'></div>
<p class="small_line_height">{{ 'code.p7' | translate }} </p>
<div class="image_center "><img class='small_size' src='../../../assets/responsive1.png'></div>


<div>
  <p><strong> {{ 'code.title2' | translate }}</strong></p>
  <p>{{ 'code.p8' | translate }}</p>

  <button class="btn_download">
    <a class="nav-item nav-link active" href="https://github.com/mehdibenhassen2/angular_example_resume_mehdi"
      target="_blank">
      <mat-icon [inline]="true" class='icons-param-white'> cloud_download </mat-icon>
      <span class='label_navbar'>{{ 'code.p9' | translate }} </span>
    </a>
  </button>
</div>
<div>
  <p><strong> {{ 'code.title3' | translate }}</strong></p>
  <p>{{ 'code.p10' | translate }}</p>
  <div class="image_center"><img src='../../../assets/archi.png'></div>

</div>